body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background: linear-gradient(to bottom, #000, #fff);
        color: #fff; /* Изменили цвет текста на белый */
    }

    #sidebar {
        width: 15vw;
        height: 100vh;
        background: linear-gradient(to bottom, #000, #fff);
        overflow-y: auto;
    }

    #header {
    width: 15vw;
    height: 100vh;
    background: linear-gradient(135deg, #000, #fff);
    color: #fff; /* Изменили цвет текста на белый */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

    #chat-container {
        position: fixed;
        width: calc(100% - 15vw);
        max-width: 85vw;
        height: 100vh;
        overflow-y: auto;
        padding: 20px;
        border: 1px solid #000;
        border-radius: 10px;
        background: linear-gradient(135deg, #000, #fff);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        right: 0;
        word-wrap: break-word;
    }

    #chat-messages {
        max-height: calc(100vh - 15vh);
        overflow-y: auto;
        flex-direction: column-reverse;
    }

    .message {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 20px;
    }

    .user-message {
        text-align: right;
        background-color: #fff; /* Белый фон */
        color: #000; /* Черный текст */
    }

    .bot-message {
        text-align: left;
        background-color: #000; /* Черный фон */
        color: #fff; /* Белый текст */
    }

    form {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .bimer {
        background: linear-gradient(135deg, #000, #fff);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100vh - 89vh);
    }

    .input-container {
        display: flex;
        align-items: center;
        background: linear-gradient(135deg, #000, #fff);
        padding: 10px;
        border-radius: 5px;
    }

    input[type="text"],
    button {
        padding: 15px;
        border: 1px solid #000;
        border-radius: 5px;
    }

    input[type="text"] {
        flex: 1;
    }

    button {
        background-color: #000;
        color: white; /* Изменили цвет текста на белый */
        border: none;
        cursor: pointer;
        margin-left: 10px;
    }

    button:hover {
        background-color: #333; /* Чуть темнее для эффекта нажатия */
    }

    .chat-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
}